.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.rda
*.rds
*.rdb
src/*.o
src/*.so
src/*.dll
docs/*.rda
docs/*.rdb
potato/*.rda
potato/*.rdb
potato/*.rds
potato/*.RData
potato/README_cache/
solcap_example_cache/
solcap_example_files/
polymapR_example_cache/
polymapR_example_files/
solcap/*.rda
solcap/*.rdb
solcap/*.rds
solcap/*.RData
solcap/README_cache/